<div class="container">
    <div id="toggle">
      <i class="uil uil-bars" id="open-menu"></i>
      <i class="uil uil-times" id="close-menu"></i>
    </div>
      <section class="nav-section" id="nav">
        <div id="navbar">
          <div id="logo">
            D/A<span class="unit"> JHS</span>
          </div>
  
          <div id="navlinks">
            <a href="/"><i class="uil uil-home"></i>Home</a>
            <a href="/portfolio"><i class="uil uil-user"></i>Portfolio</a>
            <a href="/news" id="active"><i class="uil uil-signal"></i>News</a>
            <a href="/portal"><i class="uil uil-book"></i>Portal</a>
          </div>
        </div>
      </section>
   <!-- ?==========NAV SECTION ENDING====================== -->
  <section class="events">
    <div class="left">
      <div class="event-header">Events and Latest News</div>
      <hr>
      <div class="news-container">
        <div class="news">
          <div class="news-image"><img src="/images/p11.jpg" alt="" id="newsimg"></div>
            <div class="news-title">
              <h6>A comprehensive visit to D/A JHS by the District Directorates..</h6>
          </div>
          <div class="date"><small>Monday 21st August, 2023</small></div>
         <p>
          <a class="btn btn-outline-dark" 
          data-bs-toggle="collapse" href="#news" 
          role="button" aria-expanded="false" 
          aria-controls="multiCollapseExample1">
          Read more
        </a>      
        </p>
        </div>
        
        <div class="news">
          <div class="news-image"><img src="/images/p11.jpg" alt="" id="newsimg"></div>
            <div class="news-title">
              <h6>A website for D/A JHS..</h6>
          </div>
          <div class="date"><small>Monday 23rd August, 2023</small></div>
         <p>
          <a class="btn btn-outline-dark" 
          data-bs-toggle="collapse" href="#news-two" 
          role="button" aria-expanded="false" 
          aria-controls="multiCollapseExample1">
          Read more
        </a>      
        </p>
        </div>
      
      </div>
    </div>


    <div class="right">
      <h5>News Panel</h5>
      <hr>
      <div class="collapse multi-collapse mt-2" id="news">
        <div class="news-image"><img src="/images/hos.jpeg" alt="" id="newsimg"></div>
        Education Directorates from the Sekyere East District visited to run a checkup on
        academic progress. All teachers were mandated to submit various files and documentaries
        for scrutiny in order to generate a report for the District Director of Education concerning
        classroom teaching, reporting to school and preparation of lessons in the right order. 
    </div>

    
    <div class="collapse multi-collapse mt-2" id="news-two">
      <div class="news-image"><img src="/images/hos.jpeg" alt="" id="newsimg"></div>
      Finally D/A JHS is having a website created by kaakyiredanny from Computing Department
      formerly known as ICT Department in Effiduasi South Circuit. 
  </div>
    </div>    
  </section>
  
  

  
  
    
    <!-- ?============FOOTER AREA========================= -->
    <footer class="footer-section">
      <div id="infos">
        <div id="services">
          <h5><i class="uil uil-cog"></i> Our Services</h5>
          <hr>
          <li>Education</li>
          <li>Guidance and Counseling</li>
          <li>Web Development</li>
          <li>Curriculum Planning</li>
          <li>Remedial Classes</li>
          <hr>
          <div id="shortcuts">
            <h5><i class="uil uil-search"></i> Research Plug</h5>
            <a href="https://www.google.com/search?q=https%3A%2F%2Fwww.google.com%2F&oq=https%3A%2F%2Fwww.google.com%2F&gs_lcrp=EgZjaHJvbWUyBggAEEUYOjIGCAEQRRg5MgYIAhBFGDzSAQg1MTQ0ajBqNKgCALACAA&sourceid=chrome&ie=UTF-8"><i class="uil uil-google"></i> Google Search</a>
            <a href="https://www.youtube.com/"><i class="uil uil-youtube"></i> Youtube</a>
            <a href="https://www.ghanaweb.com/GhanaHomePage/entertainment/"><i class="uil uil-newspaper"></i> Ghana Web</a>
            <a href="https://en.wikipedia.org/wiki/News"><i class="uil uil-book-open"></i> Wikipedia</a>
            <a href="https://www.bing.com/"><i class="uil uil-bing"></i> Bing Search</a>
          </div>
          <hr>  
          <div id="emails">
            <h5><i class="uil uil-envelope"></i> Your Emails</h5>
              <a href="https://mail.yahoo.com/"><i class="uil uil-yahoo"> !Yahoomail</i></a>
            <a href="https://www.google.com/search?q=gmail+sign+in&oq=gmail&gs_lcrp=EgZjaHJvbWUqBggBEEUYOzIGCAAQRRg5MgYIARBFGDsyBwgCEAAYjwIyBwgDEAAYjwIyBggEEEUYPTIGCAUQRRg9MgYIBhBFGEHSAQ0xMDA3MTUyOGowajE1qAIAsAIA&sourceid=chrome&ie=UTF-8"><i class="uil uil-google"> Gmail</i></a>
            <a href="https://wa.me/+2330597639506"><i class="uil uil-whatsapp"> Whatsapp</i></a>
          </div>
        </div>
    
        <div class="email" data-aos="fade-left" data-aos-duration="2000" data-aos-easing="ease-out-cubic">
          <h5><i class="uil uil-envelope"></i> Contact us</h5>
          <hr>
          <div><label for="email">Email Address</label></div>
          <form action="/mail" method="post">
          <div>
            <input type="text" name="email" placeholder="Enter your email address" id="emailmessage">
          </div>
          <div>
            <textarea name="textarea" id="messagearea" cols="50" rows="5" placeholder="Enter your message"></textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-danger mt-2">Submit</button>
          </div>
        </form>
    <!-- scroll top button -->
          <a href="#nav" class="top">^</a>
        </div>
      
      </div>
      <div id="copyright">
        &COPY; 2023 All Rights Reserved D/A JHS Designed by kaakyiredanny ICT Department
      </div>
    </footer>
    
     <!-- ?==========CONTAINER ENDING====================== -->
      </div>
    
