<div class="container">
    <div id="toggle">
      <i class="uil uil-bars" id="open-menu"></i>
      <i class="uil uil-times" id="close-menu"></i>
    </div>
      <section class="nav-section" id="nav">
        <div id="navbar">
          <div id="logo">
            D/A<span class="unit"> JHS</span>
          </div>
  
          <div id="navlinks">
            <a href="/"><i class="uil uil-home"></i>Home</a>
            <a href="/portfolio"><i class="uil uil-user"></i>Portfolio</a>
            <a href="/news" id="active"><i class="uil uil-signal"></i>News</a>
            <a href="/portal"><i class="uil uil-book"></i>Portal</a>
          </div>
        </div>
      </section>
   <!-- ?==========NAV SECTION ENDING====================== -->
  <section class="events">
    <div class="left">
      <div class="event-header"><i class="uil uil-newspaper"></i> Events and Latest News</div>
      <hr>
      <div class="news-container">
        <div class="news">
          <div class="news-image"><img src="/images/hos.jpg" alt="" id="newsimg"></div>
            <div class="news-title">
              <h6>Team of officials from Effiduasi Government Hospital to visit on thursday 31st August, 2023 for a health talk..</h6>
          </div>
          <div class="date"><small>Friday 25th August, 2023</small></div>
         <p>
        <i class="uil uil-angle-double-down"></i>
          <a class="btn btn-outline-dark" 
          data-bs-toggle="collapse" href="#news" 
          role="button" aria-expanded="false" 
          aria-controls="multiCollapseExample1">
          Read more
        </a>      
        </p>
        </div>

            
        <div class="news">
          <div class="news-image"><img src="/images/waec.jpg" alt="" id="newsimg"></div>
            <div class="news-title">
              <h6>BECE 2023 selection of schools...</h6>
          </div>
          <div class="date"><small>Friday 25th August, 2023</small></div>
         <p>
          <i class="uil uil-angle-double-down"></i>
          <a class="btn btn-outline-dark" 
          data-bs-toggle="collapse" href="#news-two" 
          role="button" aria-expanded="false" 
          aria-controls="multiCollapseExample1">
          Read more
        </a>      
        </p>
        </div>



        <div class="news">
          <div class="news-image"><img src="/images/p11.jpg" alt="" id="newsimg"></div>
            <div class="news-title">
              <h6>A field trip to Lake and Other areas...</h6>
          </div>
          <div class="date"><small>Friday 25th August, 2023</small></div>
         <p>
          <i class="uil uil-angle-double-down"></i>
          <a class="btn btn-outline-dark" 
          data-bs-toggle="collapse" href="#news-three" 
          role="button" aria-expanded="false" 
          aria-controls="multiCollapseExample1">
          Read more
        </a>      
        </p>

  <div class="collapse multi-collapse mt-3" id="news">
        <div class="news-image"><img src="/images/hos.jpg" alt="" id="newsimg"></div>
        Team of officials from the Effiduasi Government Hospital will visit the school for physical examination of the pupils and 
teachers for the safety measures. The three unit will meet together to undertake this exercise by these health professionals.
<div class="news-image"><video controls src="vid1.mp4" width="250px"></div>
    </div>
        </div>
        
      
      </div>
    </div>


    <div class="right">
      <h5><i class="uil uil-book-reader"></i> News Panel</h5>
      <hr>
    
    <div class="collapse multi-collapse mt-2" id="news-two">
      <div class="news-image"><img src="/images/waec.jpg" alt="" id="newsimg"></div>
     In a statement signed by the Head of Public Relations, Cassandra Twum Ampofo on Friday, August 11, 2023, the GES said it will conduct sensitisation and education on this year’s guidelines in all regions and schools before the exercise.
The sensitisation which will include an informative video that elaborates on the school selection guidelines is scheduled to begin on Friday, August 18.
“Management informs stakeholders that the selection of schools is scheduled from 23rd August to 4th September 2023,” the statement announced. 
  </div>


<div class="collapse multi-collapse mt-2" id="news-three">
<div class="news-image"><img src="/images/la5.jpg" alt="" id="newsimg">
        A field trip to Manhyia palace, Lake Bosomtwe and Cultural center to explore historical events. This event was an amazing scene to
be experirnced by all but not all pupils were able to attend during the situation of the outgone BECE Candidates. During this period the BECE
Candidates were writing their mock exams so this led to a few number attending for this event.
    </div>

    </div>    
  </section>
  
  

  
  
    
    <!-- ?============FOOTER AREA========================= -->
    <footer class="footer-section">
      <div id="infos">
        <div id="services">
          <h5><i class="uil uil-cog"></i> Our Services</h5>
          <hr>
          <li>Education</li>
          <li>Guidance and Counseling</li>
          <li>Web Development</li>
          <li>Curriculum Planning</li>
          <li>Remedial Classes</li>
          <hr>
          <div id="shortcuts">
            <h5><i class="uil uil-search"></i> Research Plug</h5>
            <a href="https://www.google.com/search?q=https%3A%2F%2Fwww.google.com%2F&oq=https%3A%2F%2Fwww.google.com%2F&gs_lcrp=EgZjaHJvbWUyBggAEEUYOjIGCAEQRRg5MgYIAhBFGDzSAQg1MTQ0ajBqNKgCALACAA&sourceid=chrome&ie=UTF-8"><i class="uil uil-google"></i> Google Search</a>
            <a href="https://www.youtube.com/"><i class="uil uil-youtube"></i> Youtube</a>
            <a href="https://www.ghanaweb.com/GhanaHomePage/entertainment/"><i class="uil uil-newspaper"></i> Ghana Web</a>
            <a href="https://en.wikipedia.org/wiki/News"><i class="uil uil-book-open"></i> Wikipedia</a>
            <a href="https://www.bing.com/"><i class="uil uil-bing"></i> Bing Search</a>
          </div>
          <hr>  
          <div id="emails">
            <h5><i class="uil uil-envelope"></i> Your Emails</h5>
              <a href="https://mail.yahoo.com/"><i class="uil uil-yahoo"> !Yahoomail</i></a>
            <a href="https://www.google.com/search?q=gmail+sign+in&oq=gmail&gs_lcrp=EgZjaHJvbWUqBggBEEUYOzIGCAAQRRg5MgYIARBFGDsyBwgCEAAYjwIyBwgDEAAYjwIyBggEEEUYPTIGCAUQRRg9MgYIBhBFGEHSAQ0xMDA3MTUyOGowajE1qAIAsAIA&sourceid=chrome&ie=UTF-8"><i class="uil uil-google"> Gmail</i></a>
            <a href="https://wa.me/+2330597639506"><i class="uil uil-whatsapp"> Whatsapp</i></a>
          </div>
        </div>
    
        <div class="email" data-aos="fade-left" data-aos-duration="2000" data-aos-easing="ease-out-cubic">
          <h5><i class="uil uil-envelope"></i> Contact us</h5>
          <hr>
          <div><label for="email">Email Address</label></div>
          <form action="/mail" method="post">
          <div>
            <input type="text" name="email" placeholder="Enter your email address" id="emailmessage">
          </div>
          <div>
            <textarea name="textarea" id="messagearea" cols="50" rows="5" placeholder="Enter your message"></textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-danger mt-2">Submit</button>
          </div>
        </form>
    <!-- scroll top button -->
          <a href="#nav" class="top">^</a>
        </div>
      
      </div>
      <div id="copyright">
        &COPY; 2023 All Rights Reserved D/A JHS Designed by kaakyiredanny ICT Department
      </div>
    </footer>
    
     <!-- ?==========CONTAINER ENDING====================== -->
      </div>
    
