 <div class="container">
  <div id="toggle">
    <i class="uil uil-bars" id="open-menu"></i>
    <i class="uil uil-times" id="close-menu"></i>
  </div>
    <section class="nav-section" id="nav">
      <div id="navbar">
        <div id="logo">
          D/A<span class="unit"> JHS</span>
        </div>

        <div id="navlinks">
          <a href="/" id="active"><i class="uil uil-home"></i>Home</a>
          <a href="/portfolio"><i class="uil uil-user"></i>Portfolio</a>
          <a href="/news"><i class="uil uil-signal"></i>News</a>
          <a href="/portal"><i class="uil uil-book"></i>Portal</a>
        </div>
      </div>
    </section>
 <!-- ?==========NAV SECTION ENDING====================== -->



  <section class="banner-section">
      <div class="message" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
        <span class="unit-welcome">Welcome</span>
        <h5>To Effiduasi D/A JHS Fraternity. An Educational Institution
        for modeling the upbringing of individuals in the Sekyere East District of Ghana specifically
        in the Ashanti Region.</h5>
        <p><h4>Our Address</h4>
          <hr>
          Effiduasi D/A JHS <br>
          P.O.Box 2 <br>
          Sekyere - East <br>
          Tel: 0597639506
        </p>
      </div>

      <div class="svg" data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
        <img src="../images/graduation-hat-4715787.png" alt="">
      </div>
  </section>
<!-- ?=========BANNER ENDS============================ -->

<!--?==========DICTIONARY SECTION STARTING====================== -->
 <div class="dictionary">
<h4><i class="uil uil-book"></i> Dictionary</h4>
        <div class="search">
            <input type="text" placeholder="Find your word" id="search-input">
            <button class="btn btn-outline-dark" id="search-button">Search</button>
        </div>
        <div class="sample" id="result"></div>
    </div>



<!--?==========PROFILE SECTION STARTING====================== -->
<section id="profile-course">
  <div class="profile" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
  data-aos-duration="2000">
    <h4><i class="uil uil-pen"></i> Our Facilitators</h4>
    <hr>
    <div class="teachers">
      <div class="teacher-card">
        <div id="teacher-image">
          <img src="../images/staff5.jpg" alt="">
        </div>
        <div id="info">
          <li class="list">
            <i class="uil uil-user"></i>
            <p>Mr. Emmanuel Boachie, The Headteacher for D/A JHS B...</p>
          </li>
        </div>
      </div>

      <div class="teacher-card">
        <div id="teacher-image">
          <img src="../images/staff7.jpg" alt="">
        </div>
        <div id="info">
          <li class="list">
            <i class="uil uil-user"></i>
            <p>Mr. Clement Opoku, The Headtecher for D/A JHS C...</p>
          </li>
        </div>
      </div>

      <div class="teacher-card">
        <div id="teacher-image">
          <img src="../images/staff1.jpg" alt="">
        </div>
        <div id="info">
          <li class="list">
            <i class="uil uil-user"></i>
            <p>Rev. Owusu Afriyie, The Headteacher for D/A JHS A...</p>
          </li>
        </div>
      </div>

      
      <div class="teacher-card">
        <div id="teacher-image">
          <img src="../images/staff10.png" alt="">
        </div>
        <div id="info">
          <li class="list">
            <i class="uil uil-user"></i>
            <p>Staff Personnels for D/A JHS Fraternity</p>
          </li>
        </div>
      </div>
      
    </div>

    <a href="/portfolio"><button class="btn btn-outline-light">Explore More</button></a>
    <hr>

    <div class="educ-importance" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
      <h6>
        “Education is the great engine of personal development. It is through education that the daughter of a peasant can become a doctor, that the son of a mineworker can become the head of the mine, that a child of farm workers can become the president of a great nation. It is what we make out of what we have, not what we are given, that separates one person from another.” -Nelson Mandela
Importance Of Education in Children’s Life
Children are the future of a nation. They learn what is taught to them through education and build their personality. Education is an important part of children’s lives. It improves their skill, personality, and attitude.
“Education is the foundation upon which we build our future.”
Education brings self-discipline, a sense of responsibility, teamwork to children and prevents them from feeling social insecurity. It helps in being self-confident and a good decision-maker.
<br><br>
Importance Of Education in Society
Education is a tool that helps an individual know their rights and duties. Education in society provides knowledge, jobs, skills, and cultural norms values. An educated society nurtures the younger generation providing them with the needed facilities and training.
Education is essential in a society as it helps individuals gain sufficient academic qualifications and enables them to get suitable employment. A society that values education flourishes in its social, economic, and financial sectors.
      </h6>
    </div>
    <div>
    </div>  
  </div>
  <!-- ?=======PROFILE ENDING===============S -->

  
  <div class="course" data-aos="zoom-out-left" data-aos-easing="ease-out-cubic"
  data-aos-duration="2000">
    <h4><i class="uil uil-book"></i> Subjects Offered</h4>
    <hr><br>
    <small>These are the curriculum courses we offer at our circle. These courses
      are approved by NaCCA by the Government of Ghana.
    </small>

    <div class="course-list">
      <li><i class="uil uil-book"></i> English Language</li>
      <li><i class="uil uil-map"></i> Social Studies</li>
      <li><i class="uil uil-flask"></i> Integrated Science</li>
      <li><i class="uil uil-calculator"></i> Mathematics</li>
      <li><i class="uil uil-screw"></i> Career Technology</li>
      <li><i class="uil uil-book"></i> Ghanaian Language</li>
      <li><i class="uil uil-database"></i> Computing</li>
      <li><i class="uil uil-user"></i> French</li>
      <li><i class="uil uil-bag"></i> Religious an Moral Education</li>
    </div>

    <div id="faq">
      <h4><i class="uil uil-question"></i>FAQ's</h4>
      <hr><br>
      <a href="">Quality Teaching Methods</a>
      <a href="">Teaching and Learning Materials</a>
      <a href="">Educational Standards for learners</a>
      <a href="">Qualities of a good Facilitator</a>
      <a href="">Principles of Teaching</a>
      <a href="">Theories of Learning</a>
      <a href="">Educating Individuals with Diverse Needs</a>
      <a href="">Educational Stakeholders</a>
      <a href="">Earning a Scholarship</a>
      <a href="">Code of Ethics in Teaching</a>
      <a href="">Quality Workshops Essential for Education</a>
    </div>
  </div>
</section>
 <!-- ?==========PROFILE AND COURSE ENDING====================== -->




  <section class="gallery-section">
    <div id="gallery">
      <h5><i class="uil uil-image"></i> School Gallery</h5>
      <hr>
      <div id="images-container">
        <img src="../images/d5.jpg" alt="" data-aos="fade-down-left" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
        <img src="../images/p11.jpg" alt="" data-aos="zoom-out-left" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
        <img src="../images/p10.jpg" alt="" data-aos="fade-down-right" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
        <img src="../images/p1.jpg" alt="" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
        <img src="../images/p7.jpg" alt="" data-aos="fade-down-right" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
        <img src="../images/p3.jpg" alt="" data-aos="zoom-out-left" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
        <img src="../images/p5.jpg" alt="" data-aos="fade-down-right" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
        <img src="../images/p17.jpg" alt="" data-aos="fade-down-left" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
      </div>  
      </div>
      <div><a href="/portfolio"><button class="btn btn-info" id="morepic">More Pictures</button></a></div>
  </section>
 <!-- ?==========GALLERY SECTION ENDING====================== -->

 <!-- ?==========ASSOCIATIONS==================== -->
<section class="associations">
  <h2><i class="uil uil-user"></i> Associations</h2>
  <hr> <br>
  
  <div id="groups">
    <div class="group-card" data-aos="fade-down-left" data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
      <div class="group-logo"><img src="../images/nat.png" alt=""></div>
      <h6>GNAT</h6>
      <article>The name Ghana National Association of Teachers appeared in...</article>
      <a href="https://www.ghanateachers.com/"><button class="btn btn-warning mt-4">View More</button></a>
    </div>

    
  <div class="group-card" data-aos="fade-down-right" data-aos-easing="ease-out-cubic"
  data-aos-duration="2000">
    <div class="group-logo"><img src="../images/grat.jpg" alt=""></div>
    <h6>NAGRAT</h6>
    <article>Our Vision at NAGRAT is fundamental to our attitudes and the services we provide...</article>
    <a href="https://nagrat.org/"><button class="btn btn-warning mt-4">View More</button></a>
  </div>

  
  <div class="group-card" data-aos="fade-down-left" data-aos-easing="ease-out-cubic"
  data-aos-duration="2000">
    <div class="group-logo"><img src="../images/concern.png " alt=""></div>
    <h6>CCT</h6>
    <article>Coalition of Concerned Teachers Ghana- The Cct, Dansoman, Accra..</article>
    <a href="https://cctghana.com/"><button class="btn btn-warning mt-4">View More</button></a>
  </div>


  <div class="group-card" data-aos="fade-down-right" data-aos-easing="ease-out-cubic"
  data-aos-duration="2000">
    <div class="group-logo"><img src="../images/inno.webp" alt=""></div>
    <h6>Innovative</h6>
    <article>Coalition of Concerned Teachers Ghana- The Cct, Dansoman, Accra..</article>
    <a href="https://web.facebook.com/innovativeteach/?_rdc=1&_rdr"><button class="btn btn-warning mt-4">View More</button></a>
  </div>

  
  <div class="group-card" data-aos="fade-down-left" data-aos-easing="ease-out-cubic"
  data-aos-duration="2000">
    <div class="group-logo"><img src="../images/ntc.jpg" alt=""></div>
    <h6>NTC</h6>
    <article>“To promote excellence and professionalism among teachers and managers...</article>
    <a href="https://ntc.gov.gh/about-us/"><button class="btn btn-warning mt-4">View More</button></a>
  </div>

  </div>

  
</section>



  
  <!-- ?============FOOTER AREA========================= -->
  <footer class="footer-section">
    <div id="infos">
      <div id="services">
        <h5><i class="uil uil-cog"></i> Our Services</h5>
        <hr>
        <li>Education</li>
        <li>Guidance and Counseling</li>
        <li>Web Development</li>
        <li>Curriculum Planning</li>
        <li>Remedial Classes</li>
        <hr>
        <div id="shortcuts">
          <h5><i class="uil uil-search"></i> Research Plug</h5>
          <a href="https://www.google.com/search?q=https%3A%2F%2Fwww.google.com%2F&oq=https%3A%2F%2Fwww.google.com%2F&gs_lcrp=EgZjaHJvbWUyBggAEEUYOjIGCAEQRRg5MgYIAhBFGDzSAQg1MTQ0ajBqNKgCALACAA&sourceid=chrome&ie=UTF-8"><i class="uil uil-google"></i> Google Search</a>
          <a href="https://www.youtube.com/"><i class="uil uil-youtube"></i> Youtube</a>
          <a href="https://www.ghanaweb.com/GhanaHomePage/entertainment/"><i class="uil uil-newspaper"></i> Ghana Web</a>
          <a href="https://en.wikipedia.org/wiki/News"><i class="uil uil-book-open"></i> Wikipedia</a>
          <a href="https://www.bing.com/"><i class="uil uil-bing"></i> Bing Search</a>
        </div>
        <hr>  
        <div id="emails">
          <h5><i class="uil uil-envelope"></i> Your Emails</h5>
            <a href="https://mail.yahoo.com/"><i class="uil uil-yahoo"> !Yahoomail</i></a>
          <a href="https://www.google.com/search?q=gmail+sign+in&oq=gmail&gs_lcrp=EgZjaHJvbWUqBggBEEUYOzIGCAAQRRg5MgYIARBFGDsyBwgCEAAYjwIyBwgDEAAYjwIyBggEEEUYPTIGCAUQRRg9MgYIBhBFGEHSAQ0xMDA3MTUyOGowajE1qAIAsAIA&sourceid=chrome&ie=UTF-8"><i class="uil uil-google"> Gmail</i></a>
          <a href="https://wa.me/+2330597639506"><i class="uil uil-whatsapp"> Whatsapp</i></a>
        </div>
      </div>
  
      <div class="email" data-aos="fade-left" data-aos-duration="2000" data-aos-easing="ease-out-cubic">
        <h5><i class="uil uil-envelope"></i> Contact us</h5>
        <hr>
        <div><label for="email">Email Address</label></div>
        <form action="/mail" method="post">
        <div>
          <input type="text" name="email" placeholder="Enter your email address" id="emailmessage">
        </div>
        <div>
          <textarea name="textarea" id="messagearea" cols="50" rows="5" placeholder="Enter your message"></textarea>
        </div>
        <div>
          <button type="submit" class="btn btn-danger mt-2">Submit</button>
        </div>
      </form>
  <!-- scroll top button -->
        <a href="#nav" class="top">^</a>
      </div>
    
    </div>
    <div id="copyright">
      &COPY; 2023 All Rights Reserved D/A JHS Designed by kaakyiredanny ICT Department
    </div>
  </footer>
  
   <!-- ?==========CONTAINER ENDING====================== -->
    </div>
  
