<div class="container">
    <div id="toggle">
      <i class="uil uil-bars" id="open-menu"></i>
      <i class="uil uil-times" id="close-menu"></i>
    </div>
      <section class="nav-section" id="nav">
        <div id="navbar">
          <div id="logo">
            D/A<span class="unit"> JHS</span>
          </div>
  
          <div id="navlinks">
            <a href="/"><i class="uil uil-home"></i>Home</a>
            <a href="/portal"><i class="uil uil-user"></i>Portfolio</a>
            <a href="/news"><i class="uil uil-signal"></i>News</a>
            <a href="/portal" id="active"><i class="uil uil-book"></i>Portal</a>
          </div>
        </div>
      </section>
   <!-- ?==========NAV SECTION ENDING====================== -->
  
  
   <div class="student-portal">
      <div class="portalname">
          Pupils'<span class="unit"> Portal</span>
          <h6>Emmanuel Boachie</h6>
          <h6><% new Date().toUTCString() %></h6>
      </div>
  
      <div class="portal-table">
        <div class="student-info-marks" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
            <h5>Statistics</h5>
            <hr>
            <p><i class="uil uil-user"></i> HoD: Exams Committee <br>
                <i class="uil uil-table"></i> Class: F1 - F3 <br>
                <i class="uil uil-phone"></i> Academics: 0200595448 <br>
                <i class="uil uil-home"></i> Status: Professionals <br>
                <i class="uil uil-phone"></i> Secretary: 0597639506
            </p>
        </div>

        <div class="marks-container">
        <div>
        <div class="marks" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
        <h5>Form One JHS A</h5>
        <hr>
        <form action="/formone/a" method="post">
            <div>
                <label for="studentname">Student Name</label>
            </div>
            <div>
                <input type="text" name="onename" placeholder="Enter student name">
            </div>

            <div>
                <label for="class">Class of Student</label>
            </div>
            <div>
                <input type="text" name="oneclass" placeholder="Enter Student Class">
            </div>

            <div>
                <label for="class">Total Marks</label>
            </div>
            <div>
                <input type="text" name="onetotalmarks" placeholder="Enter All Subject Marks">
            </div>

            <div>
                <label for="position">Position</label>
            </div>
            <div>
                <input type="text" name="oneposition" placeholder="Overall Position">
            </div>

            <div>
                <label for="remarks">Remarks</label>
            </div>
            <div>
                <input type="text" name="oneremarks" placeholder="Enter Remarks">
            </div>
            
            
            <div>
                <button type="submit" class="btn btn-success w-80 mt-4">Enter</button>
            </div>
        </form>
        </div>



<!-- ?form two forms -->

<div class="marks" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
<h5>Form Two JHS A</h5>
<hr>
<form action="/formtwo/a" method="post">
    <div>
        <label for="studentname">Student Name</label>
    </div>
    <div>
        <input type="text" name="twoname" placeholder="Enter student name">
    </div>

    <div>
        <label for="class">Class of Student</label>
    </div>
    <div>
        <input type="text" name="twoclass" placeholder="Enter Student Class">
    </div>

    <div>
        <label for="class">Total Marks</label>
    </div>
    <div>
        <input type="text" name="twototalmarks" placeholder="Enter All Subject Marks">
    </div>

    <div>
        <label for="position">Position</label>
    </div>
    <div>
        <input type="text" name="twoposition" placeholder="Overall Position">
    </div>

    <div>
        <label for="remarks">Remarks</label>
    </div>
    <div>
        <input type="text" name="tworemarks" placeholder="Enter Remarks">
    </div>
    
    
    <div>
        <button type="submit" class="btn btn-success w-80 mt-4">Enter</button>
    </div>
</form>
</div>



<!-- ? form three forms -->
<div class="marks" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
<h5>Form Three JHS A</h5>
<hr>
<form action="/formthree/a" method="post">
    <div>
        <label for="studentname">Student Name</label>
    </div>
    <div>
        <input type="text" name="threename" placeholder="Enter student name">
    </div>

    <div>
        <label for="class">Class of Student</label>
    </div>
    <div>
        <input type="text" name="threeclass" placeholder="Enter Student Class">
    </div>

    <div>
        <label for="class">Total Marks</label>
    </div>
    <div>
        <input type="text" name="threetotalmarks" placeholder="Enter All Subject Marks">
    </div>

    <div>
        <label for="position">Position</label>
    </div>
    <div>
        <input type="text" name="threeposition" placeholder="Overall Position">
    </div>

    <div>
        <label for="remarks">Remarks</label>
    </div>
    <div>
        <input type="text" name="threeremarks" placeholder="Enter Remarks">
    </div>
    
    
    <div>
        <button type="submit" class="btn btn-success mt-4">Enter</button>
    </div>
</form>
</div>
</div>
<!-- ======================JHS A MARKS FORMS============================= -->
<hr>





<div>
<div class="marks" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
<h5>Form One JHS B</h5>
<hr>
<form action="/formone/b" method="post">
    <div>
        <label for="studentname">Student Name</label>
    </div>
    <div>
        <input type="text" name="onename" placeholder="Enter student name">
    </div>

    <div>
        <label for="class">Class of Student</label>
    </div>
    <div>
        <input type="text" name="oneclass" placeholder="Enter Student Class">
    </div>

    <div>
        <label for="class">Total Marks</label>
    </div>
    <div>
        <input type="text" name="onetotalmarks" placeholder="Enter All Subject Marks">
    </div>

    <div>
        <label for="position">Position</label>
    </div>
    <div>
        <input type="text" name="oneposition" placeholder="Overall Position">
    </div>

    <div>
        <label for="remarks">Remarks</label>
    </div>
    <div>
        <input type="text" name="oneremarks" placeholder="Enter Remarks">
    </div>
    
    
    <div>
        <button type="submit" class="btn btn-success w-80 mt-4">Enter</button>
    </div>
</form>
</div>



<!-- ?form two forms -->

<div class="marks" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
<h5>Form Two JHS B</h5>
<hr>
<form action="/formtwo/b" method="post">
<div>
<label for="studentname">Student Name</label>
</div>
<div>
<input type="text" name="twoname" placeholder="Enter student name">
</div>

<div>
<label for="class">Class of Student</label>
</div>
<div>
<input type="text" name="twoclass" placeholder="Enter Student Class">
</div>

<div>
<label for="class">Total Marks</label>
</div>
<div>
<input type="text" name="twototalmarks" placeholder="Enter All Subject Marks">
</div>

<div>
<label for="position">Position</label>
</div>
<div>
<input type="text" name="twoposition" placeholder="Overall Position">
</div>

<div>
<label for="remarks">Remarks</label>
</div>
<div>
<input type="text" name="tworemarks" placeholder="Enter Remarks">
</div>


<div>
<button type="submit" class="btn btn-success w-80 mt-4">Enter</button>
</div>
</form>
</div>



<!-- ? form three forms -->
<div class="marks" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
<h5>Form Three JHS B</h5>
<hr>
<form action="/formthree/b" method="post">
<div>
<label for="studentname">Student Name</label>
</div>
<div>
<input type="text" name="threename" placeholder="Enter student name">
</div>

<div>
<label for="class">Class of Student</label>
</div>
<div>
<input type="text" name="threeclass" placeholder="Enter Student Class">
</div>

<div>
<label for="class">Total Marks</label>
</div>
<div>
<input type="text" name="threetotalmarks" placeholder="Enter All Subject Marks">
</div>

<div>
<label for="position">Position</label>
</div>
<div>
<input type="text" name="threeposition" placeholder="Overall Position">
</div>

<div>
<label for="remarks">Remarks</label>
</div>
<div>
<input type="text" name="threeremarks" placeholder="Enter Remarks">
</div>


<div>
<button type="submit" class="btn btn-success mt-4">Enter</button>
</div>
</form>
</div>
</div>
<!-- ======================JHS B MARKS FORMS============================= -->
<hr>


<div>
<div class="marks" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
<h5>Form One JHS C</h5>
<hr>
<form action="/formone/c" method="post">
    <div>
        <label for="studentname">Student Name</label>
    </div>
    <div>
        <input type="text" name="onename" placeholder="Enter student name">
    </div>

    <div>
        <label for="class">Class of Student</label>
    </div>
    <div>
        <input type="text" name="oneclass" placeholder="Enter Student Class">
    </div>

    <div>
        <label for="class">Total Marks</label>
    </div>
    <div>
        <input type="text" name="onetotalmarks" placeholder="Enter All Subject Marks">
    </div>

    <div>
        <label for="position">Position</label>
    </div>
    <div>
        <input type="text" name="oneposition" placeholder="Overall Position">
    </div>

    <div>
        <label for="remarks">Remarks</label>
    </div>
    <div>
        <input type="text" name="oneremarks" placeholder="Enter Remarks">
    </div>
    
    
    <div>
        <button type="submit" class="btn btn-success w-80 mt-4">Enter</button>
    </div>
</form>
</div>



<!-- ?form two forms -->

<div class="marks" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
<h5>Form Two JHS C</h5>
<hr>
<form action="/formtwo/c" method="post">
<div>
<label for="studentname">Student Name</label>
</div>
<div>
<input type="text" name="twoname" placeholder="Enter student name">
</div>

<div>
<label for="class">Class of Student</label>
</div>
<div>
<input type="text" name="twoclass" placeholder="Enter Student Class">
</div>

<div>
<label for="class">Total Marks</label>
</div>
<div>
<input type="text" name="twototalmarks" placeholder="Enter All Subject Marks">
</div>

<div>
<label for="position">Position</label>
</div>
<div>
<input type="text" name="twoposition" placeholder="Overall Position">
</div>

<div>
<label for="remarks">Remarks</label>
</div>
<div>
<input type="text" name="tworemarks" placeholder="Enter Remarks">
</div>


<div>
<button type="submit" class="btn btn-success w-80 mt-4">Enter</button>
</div>
</form>
</div>



<!-- ? form three forms -->
<div class="marks" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
data-aos-duration="2000">
<h5>Form Three JHS C</h5>
<hr>
<form action="/formthree/c" method="post">
<div>
<label for="studentname">Student Name</label>
</div>
<div>
<input type="text" name="threename" placeholder="Enter student name">
</div>

<div>
<label for="class">Class of Student</label>
</div>
<div>
<input type="text" name="threeclass" placeholder="Enter Student Class">
</div>

<div>
<label for="class">Total Marks</label>
</div>
<div>
<input type="text" name="threetotalmarks" placeholder="Enter All Subject Marks">
</div>

<div>
<label for="position">Position</label>
</div>
<div>
<input type="text" name="threeposition" placeholder="Overall Position">
</div>

<div>
<label for="remarks">Remarks</label>
</div>
<div>
<input type="text" name="threeremarks" placeholder="Enter Remarks">
</div>


<div>
<button type="submit" class="btn btn-success mt-4">Enter</button>
</div>
</form>
</div>
</div>
<!-- ======================JHS C MARKS FORMS============================= -->
<hr>






</div>
   </div>
  <!-- ? =======================PORTAL TABLE============== -->
  
  
  
  
  
  <!-- ?============FOOTER AREA========================= -->
  <footer class="footer-section">
    <div id="infos">
      <div id="services">
        <h5><i class="uil uil-cog"></i> Our Services</h5>
        <hr>
        <li>Education</li>
        <li>Guidance and Counseling</li>
        <li>Web Development</li>
        <li>Curriculum Planning</li>
        <li>Remedial Classes</li>
        <hr>
        <div id="shortcuts">
            <h5><i class="uil uil-search"></i> Research Plug</h5>
            <a href="https://www.google.com/search?q=https%3A%2F%2Fwww.google.com%2F&oq=https%3A%2F%2Fwww.google.com%2F&gs_lcrp=EgZjaHJvbWUyBggAEEUYOjIGCAEQRRg5MgYIAhBFGDzSAQg1MTQ0ajBqNKgCALACAA&sourceid=chrome&ie=UTF-8"><i class="uil uil-google"></i> Google Search</a>
            <a href="https://www.youtube.com/"><i class="uil uil-youtube"></i> Youtube</a>
            <a href="https://www.ghanaweb.com/GhanaHomePage/entertainment/"><i class="uil uil-newspaper"></i> Ghana Web</a>
            <a href="https://en.wikipedia.org/wiki/News"><i class="uil uil-book-open"></i> Wikipedia</a>
            <a href="https://www.bing.com/"><i class="uil uil-bing"></i> Bing Search</a>
          </div>
          <hr>  
          <div id="emails">
            <h5><i class="uil uil-envelope"></i> Your Emails</h5>
              <a href="https://mail.yahoo.com/"><i class="uil uil-yahoo"> !Yahoomail</i></a>
            <a href="https://www.google.com/search?q=gmail+sign+in&oq=gmail&gs_lcrp=EgZjaHJvbWUqBggBEEUYOzIGCAAQRRg5MgYIARBFGDsyBwgCEAAYjwIyBwgDEAAYjwIyBggEEEUYPTIGCAUQRRg9MgYIBhBFGEHSAQ0xMDA3MTUyOGowajE1qAIAsAIA&sourceid=chrome&ie=UTF-8"><i class="uil uil-google"> Gmail</i></a>
            <a href="https://wa.me/+2330597639506"><i class="uil uil-whatsapp"> Whatsapp</i></a>
          </div>
      </div>
  
      <div class="email" data-aos="fade-left" data-aos-duration="2000" data-aos-easing="ease-out-cubic">
        <h5><i class="uil uil-envelope"></i> Contact us</h5>
        <hr>
        <form action="/mail" method="post">
        <div><label for="email">Email Address</label></div>
        <div>
          <input type="text" name="email" placeholder="Enter your email address" id="emailmessage">
        </div>
        <div>
          <textarea name="textarea" id="messagearea" cols="50" rows="5" placeholder="Enter your message"></textarea>
        </div>
        <div>
          <button class="btn btn-danger mt-2">Submit</button>
        </div>
    </form>
  <!-- scroll top button -->
        <a href="#nav" class="top">^</a>
      </div>
    
    </div>
    <div id="copyright">
        &COPY; 2023 All Rights Reserved D/A JHS Designed by kaakyiredanny ICT Department
    </div>
  </footer>
  
   <!-- ?==========CONTAINER ENDING====================== -->
    </div>
  
