<div class="container">
    <div id="toggle">
      <i class="uil uil-bars" id="open-menu"></i>
      <i class="uil uil-times" id="close-menu"></i>
    </div>
      <section class="nav-section" id="nav">
        <div id="navbar">
          <div id="logo">
            D/A<span class="unit"> JHS</span>
          </div>
  
          <div id="navlinks">
            <a href="/"><i class="uil uil-home"></i>Home</a>
            <a href="/portfolio" id="active"><i class="uil uil-user"></i>Portfolio</a>
            <a href="/news"><i class="uil uil-signal"></i>News</a>
            <a href="/portal"><i class="uil uil-book"></i>Portal</a>
          </div>
        </div>
      </section>
   <!-- ?==========NAV SECTION ENDING====================== -->
  
  
  <section class="portfolio-section">
    <div class="leaders" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <span class="unit-welcome">Welcome to</span>
          <h5>Our Administrators and Sub-Departments</h5>
            <h6>For admissions contact us through:</h6>
            <i class="uil uil-phone"></i> 0249227055 <br>
            <i class="uil uil-envelope"></i> codekaakyiredanny@gmail.com <br>
            <i class="uil uil-map-marker-alt"></i> Near Effiduasi Police Station
<br>
            <a href="#tutors"><button class="btn btn-outline-dark mt-3">Tutors</button></a>
            <a href="#culture"><button class="btn btn-outline-dark mt-3">Culture</button></a>
            <a href="#sports"><button class="btn btn-outline-dark mt-3">Sports</button></a>
            <a href="#cleanup"><button class="btn btn-outline-dark mt-3">Clean-up</button></a>
            <a href="#excursion"><button class="btn btn-outline-dark mt-3">Excursion</button></a><br>
            <a href="#health"><button class="btn btn-outline-dark mt-3">Health</button></a>
            <a href="#talk"><button class="btn btn-outline-dark mt-3">Talks</button></a>
            <a href="#prefects"><button class="btn btn-outline-dark mt-3">Elections</button></a>
            <a href="#match"><button class="btn btn-outline-dark mt-3">6th Match</button></a>
        </div>
  </section>



  <section class="heads">
    <h5><i class="uil uil-users-alt"></i> Heads of Our Institution</h5>
    <hr>
    <div class="head-image-container">
        <div class="jhsA">
            <div class="head-image">
                <img src="/images/afriy.jpg" alt="">
            </div>
            <div class="head-info">
                <h6><i class="uil uil-user"></i> Rev.Owusu Afriyie</h6>
                <hr>
                <p>
                    Rev. Owusu Afriyie the HeadTeacher for the JHS A unit in this fraternity.
                    At D/A JHS School we learn together to achieve success for all, based on high expectations and equality of access for all. We nurture the growth of the whole child- academically, socially, emotionally, morally and physically-celebrating all achievement in a safe, caring and creative environment. The whole team works together to bring learning ‘alive’ and extend pupils’ experiences so that they are well prepared for the next steps in their education.
                </p>
            </div>
        </div>

        <div class="jhsB">
            <div class="head-image">
                <img src="/images/boachie.jpg" alt="">
            </div>
            <div class="head-info">
                <h6><i class="uil uil-user"></i> Mr. Emmanuel Boachie</h6>
                <hr>
                <p>
                    We have a very dedicated and hard working staff who will go that extra mile- as only the best will do for the children in our care.  We work in a very close partnership with parents so that every child is fully supported. We know the importance that parents play in their child’s education and so welcome your involvement in your child’s education and in the life of our school. We ask your opinion on a regular basis, as well as inviting you into school as much as possible. We encourage parents/carers to come into school to discuss any concerns or issues.
                </p>
            </div>
        </div>
        
        <div class="jhsC">
            <div class="head-image">
                <img src="/images/mas1.jpg" alt="">
            </div>
            <div class="head-info">
                <h6><i class="uil uil-user"></i> Mr. Clement Opoku</h6>
                <hr>
                <p>
                    At D/A JHS Park we believe that children deserve the best possible chances in life and therefore we encourage strong links with parents. We are a friendly, caring school with high expectations for all our pupils. Whilst the school is often a hive of activity, the staff work to provide a calm, stimulating environment with good behaviour and mutual respect.
                </p>
            </div>
        </div>
    </div>
  </section>
  <!-- ?==================ADMINISTRATORS END============================ -->
  <hr>
  
  <section class="school-goal">
    <div class="visions" data-aos="zoom-out-right" data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
      <h3><i class="uil uil-eye"></i> Our Vision</h3>
      <hr>
      <small>Our Vision is to offer students a unique experience in education to achieve
        academic excellence and train students to occupy positions of responsibilities
      </small>
    </div>

      <div class="mission" data-aos="zoom-out-left" data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
        <h3><i class="uil uil-medal"></i> Our Mission</h3>
        <hr>
        <small>Our Mission is to provide high quality education and childcare in a safe respectful and inclusive
          environment that builds a foundation for life-long learning
        </small>
      </div>
    
  </section>


  
  <section class="tutors-gallery" id="tutors">
    <h3><i class="uil uil-users-alt"></i> Our Tutors</h3>
    <hr>
    <div class="tutors-image-container" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
      <img src="/images/t3.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t5.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/richie.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t8.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t9.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t10.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t11.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t12.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t13.jpg" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t15.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t16.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t17.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t19.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t20.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/t21.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/bd1.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/bd2.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/bd3.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/bd4.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/bd5.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/bd6.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
    </div>
  </section>
  <!-- ?============END OF SCHOOL GALLERY===================== -->
  


  
  <section class="culture-gallery" id="culture">
    <h3><i class="uil uil-laughing"></i> Cultural Activities</h3>
    <hr>
    <div class="tutors-image-container" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
      <img src="/images/c1.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c2.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c3.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c4.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c5.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c6.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c7.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c8.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c9.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c10.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c11.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c12.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c13.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c14.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/c15.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
    </div>
  </section>
  <!-- ?============END OF SCHOOL GALLERY===================== -->
  
  
  
  
  <section class="sports-gallery" id="sports">
    <h3><i class="uil uil-football"></i> Sports</h3>
    <hr>
    <div class="tutors-image-container" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
      <img src="/images/sp1.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/sp2.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/sp3.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/sp4.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/sp5.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/sp6.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
    </div>
  </section>


  
  <section class="talk-gallery" id="talk">
    <h3><i class="uil uil-users-alt"></i> Talk Sessions</h3>
    <hr>
    <div class="tutors-image-container" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
      <img src="/images/ta1.jpg" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/ta6.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/ta5.jpg" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/ta4.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
    </div>
  </section>
  

  
  <section class="election-gallery" id="Prefects">
    <h3><i class="uil uil-users-alt"></i> Election of Prefects</h3>
    <hr>
    <div class="tutors-image-container" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
      <img src="/images/el1.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el2.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el3.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el4.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el5.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el6.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el7.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el8.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el9.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el10.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el11.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el12.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el13.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el14.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el15.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/el16.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
    </div>
  </section>



  <section class="cleanup-gallery" id="cleanup">
    <h3><i class="uil uil-users-alt"></i> Clean Up Activities</h3>
    <hr>
    <div class="tutors-image-container" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
      <img src="/images/d1.jpg" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/d2.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/d3.jpg" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
    </div>
  </section>
  

  

  <section class="health-gallery" id="health">
    <h3><i class="uil uil-medical-square"></i> Screening Exercise</h3>
    <hr>
    <div class="tutors-image-container" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
      <img src="/images/h1.jpg" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/h2.jpg" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/h3.jpg" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/h4.jpg" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
    </div>
  </section>
  


  <section class="match-gallery" id="match">
    <h3><i class="uil uil-users-alt"></i> 6th March Anniversary</h3>
    <hr>
    <div class="tutors-image-container" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
      <img src="/images/m1.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m2.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m3.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m4.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m5.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m6.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m7.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m8.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m9.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m10.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m11.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m12.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m13.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/m14.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      
    </div>
  </section>


  
  <section class="excursion-gallery" id="excursion">
    <h3><i class="uil uil-map-pin"></i> Excursions</h3>
    <hr>
    <div class="tutors-image-container" data-aos="flip-left"
    data-aos-easing="ease-out-cubic"
    data-aos-duration="2000">
      <img src="/images/ex1.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/ex2.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/ex3.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/ex4.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/ex5.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/ex6.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/ex7.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/ex8.JPG" alt="" data-aos="fade-up"
      data-aos-easing="linear"
      data-aos-duration="1500">
      <img src="/images/ex9.JPG" alt="" data-aos="fade-down"
      data-aos-easing="linear"
      data-aos-duration="1500">
      
      
    </div>
  </section>

  <!-- ?============END OF SCHOOL GALLERY===================== -->


  <!-- ?============END OF SCHOOL GALLERY===================== -->


  <!-- ?============END OF SCHOOL GALLERY===================== -->  








    <!-- ?============FOOTER AREA========================= -->
    <footer class="footer-section">
      <div id="infos">
        <div id="services">
          <h5><i class="uil uil-cog"></i> Our Services</h5>
          <hr>
          <li>Education</li>
          <li>Guidance and Counseling</li>
          <li>Web Development</li>
          <li>Curriculum Planning</li>
          <li>Remedial Classes</li>
          <hr>
          <div id="shortcuts">
            <h5><i class="uil uil-search"></i> Research Plug</h5>
            <a href="https://www.google.com/search?q=https%3A%2F%2Fwww.google.com%2F&oq=https%3A%2F%2Fwww.google.com%2F&gs_lcrp=EgZjaHJvbWUyBggAEEUYOjIGCAEQRRg5MgYIAhBFGDzSAQg1MTQ0ajBqNKgCALACAA&sourceid=chrome&ie=UTF-8"><i class="uil uil-google"></i> Google Search</a>
            <a href="https://www.youtube.com/"><i class="uil uil-youtube"></i> Youtube</a>
            <a href="https://www.ghanaweb.com/GhanaHomePage/entertainment/"><i class="uil uil-newspaper"></i> Ghana Web</a>
            <a href="https://en.wikipedia.org/wiki/News"><i class="uil uil-book-open"></i> Wikipedia</a>
            <a href="https://www.bing.com/"><i class="uil uil-bing"></i> Bing Search</a>
          </div>
          <hr>  
          <div id="emails">
            <h5><i class="uil uil-envelope"></i> Your Emails</h5>
              <a href="https://mail.yahoo.com/"><i class="uil uil-yahoo"> !Yahoomail</i></a>
            <a href="https://www.google.com/search?q=gmail+sign+in&oq=gmail&gs_lcrp=EgZjaHJvbWUqBggBEEUYOzIGCAAQRRg5MgYIARBFGDsyBwgCEAAYjwIyBwgDEAAYjwIyBggEEEUYPTIGCAUQRRg9MgYIBhBFGEHSAQ0xMDA3MTUyOGowajE1qAIAsAIA&sourceid=chrome&ie=UTF-8"><i class="uil uil-google"> Gmail</i></a>
            <a href="https://wa.me/+2330597639506"><i class="uil uil-whatsapp"> Whatsapp</i></a>
          </div>
        </div>
    
        <div class="email" data-aos="fade-left" data-aos-duration="2000" data-aos-easing="ease-out-cubic">
          <h5><i class="uil uil-envelope"></i> Contact us</h5>
          <hr>
          <div><label for="email">Email Address</label></div>
          <form action="/mail" method="post">
          <div>
            <input type="text" name="email" placeholder="Enter your email address" id="emailmessage">
          </div>
          <div>
            <textarea name="textarea" id="messagearea" cols="50" rows="5" placeholder="Enter your message"></textarea>
          </div>
          <div>
            <button type="submit" class="btn btn-danger mt-2">Submit</button>
          </div>
        </form>
    <!-- scroll top button -->
          <a href="#nav" class="top">^</a>
        </div>
      
      </div>
      <div id="copyright">
        &COPY; 2023 All Rights Reserved D/A JHS Designed by kaakyiredanny ICT Department
      </div>
    </footer>
    
     <!-- ?==========CONTAINER ENDING====================== -->
      </div>
    
